body{
                font-size: 140%;
                font-family: sans-serif;
                text-align: center;
            }
            fieldset{
                margin: 10% 20%;
                padding: 5% 5%;
                border-color: darkblue;
                min-width: 200px;
            }
            legend{
                font-size: 140%;
                color: blue;
                font-family: fantasy; 
                text-align: start;
            }
            button{
                border-radius: 10%;
                color: white;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 100%;
                background-color: blue;
            }
